body {
	display:	block;
/*	width: 920px;
	margin: 0;
	padding: 0;
	font-family: "lucida grande", Calibri, Arial, sans-serif;*/
}

#content {
    
	width: 900px;
	margin: auto;
}

#topPage {
    position: 	static;
    width: 		900px;
    height: 	150px;
    border: 	thin solid black; 
}
/*
#navigation {
	overflow: hidden;
	height: 35px;
	background: #3b5999;
}

#navigation a {
	color: #fff;
	text-decoration: none;
}

#navigation ul {
	margin: 7px 0 0 0;
	padding: 0;
	list-style-type: none;
}

#navigation ul li {
	display: inline;
}

#navigation ul li a {
	padding: 10px;
}

#navigation ul li a:hover {
	background: #5785e0;
}*/

#nav {
	position: 	static;
	width: 	 	890px;
	height: 	50px;
	border: 	thin solid black;
	padding: 	5px;
}

div#nav. a {
	display: block;
	margin-top: 15px;
}

#subNav {
	position: 	static;
	float: 		left;
	width: 		200px;
	height:		500px;
	border: 	thin solid black;
}

#page {
	position: 	static;
	float:		right;
	width:  	696px;
	height:		500px;
	border: 	thin solid black;
}

#pageFullWidth {
	position: 	static;
	width:  	900px;
	height:		500px;
	border: 	thin solid black;
}
#footer {
	position: 	static;
	clear:		both;
	width:  	900px;
	height: 	50px;
	border: 	thin solid black;
}

br.clear {
	clear:  	both;
}

/* Login Styles*/

div.login {
	margin: 	100px auto;
	padding: 	25px;
	width: 		300px;
	border: 	thin solid black;
}

div.login label {
	display: 	block;
	float: 		left;
	clear: 		left;
	width: 		100px;
	margin: 	4px 0;

}

div.login input {
}

button#login {
	display: 	block;
	clear: 		both;
	float: 		right;
	margin: 	25px 25px 0 0;
}

div#userArea {
	float:  	right;
	margin: 	5px 5px 0 0;
}

div.error {
	color: red;
}