body {
	display:	block;
}

#content {
    height: auto;
	width: 900px;
	margin: auto;
}

#topPage {
	background: #ddd;
    position: 	static;
    width: 		900px;
    height: 	150px;
}

#navigation {
	overflow: hidden;
	height: 35px;
	background: #746e6e;
	width: 	 	900px;
}

#navigation a {
	color: #fff;
	text-decoration: none;
}

#navigation ul {
	margin: 7px 0 0 0;
	padding: 0;
	list-style-type: none;
}

#navigation ul li {
	display: inline;
	padding-left: 10px;
}

#navigation ul li a {
	padding: 10px;
}

#navigation ul li a:hover {
	background: #5785e0;
}

#subNav {
	background: #ddd;
	position: 	static;
	float: 		left;
	width: 		200px;
	height:		470px;
}

#subNav h1 {
	margin-left: 2%
}

#page {
	background: #ddd;
	position: 	static;
	float:		right;
	width:  	699px;
	height:		auto;
	min-height: 470px;
	border-left: 1px solid #746e6e;
}

#page h2 {
	margin-left: 2%
}

#pageFullWidth {
	overflow: hidden;
	background: #ddd;
	position: 	static;
	width:  	900px;
	height:		auto;
	padding-bottom: 15px;
}

#pageFullWidth h1 {
	margin-left: 2%
}

.content {
	margin-left: 40%;
}

.square {
	padding-left: 20px;
}

.brand img {
	position: static;
	margin-left: 31%;
	margin-top: 20px;
}